<main>
    <section class="w-50 mt-4 box_tech">
        <div class="d-flex justify-content-between align-items-center bg-dark">
            <h2 class="text-white px-3 pt-1">Login</h2>
        </div>

        <!-- login forms -->
        <form class="d-flex flex-column align-items-center m-3">
            <div class="mb-2">
                <label for="email">E-mail:</label>
                <br>
                <input id="email" type="email" name="email" value="">
                <br>
            </div>
            <div class="mb-3">
                <label for="password">Password:</label>
                <br>
                <input id="pass" type="password" name="password" value="">
                <br>
            </div>
            <button id="button" class="w-25 p-1 rounded shadow mb-3" type="submit">Login!</button>
            <p>First Time? <a class="text-decoration-none" href="/signup">SignUp Here!</a></p>
            </form> 
    </section>
</main>
<script src="/js/login.js"></script>