<main>
    <section class="w-75 mt-4 box_tech">
        <div class="d-flex justify-content-between align-items-center bg-dark">
            <h2 class="text-white px-3 pt-1">Create New Post</h2>
        </div>
        <div class="m-2">
            <label for="title">Title:</label>
            <br>
            <input class="w-100" id="title_post" type="text" name="title" value="">
            <br>
        </div>
        <div class="m-2">
            <label for="content">Content:</label>
            <br>
            <textarea class="w-100" id="content" type="text" name="content" value=""></textarea>
            <br>
        </div>
        <section class="d-flex justify-content-center">
                <button id="create_post" class="p-2 px-3 my-3 rounded">Create</button>
        </section>
    </section>
    <section class="d-flex justify-content-center">
        <button class="p-2 px-3 mt-5 rounded"><a class="link text-decoration-none" href="/dashboard/post">+ New Post</a></button>
    </section>
</main>
<script src="/js/create_post.js"></script>


