:root{
    --color1: rgb(41, 32, 32);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(235, 235, 235);
}

li{
    font-size: 18px;
}

h2{
    font-size: 20px;
}

.menu_item:hover{
    background-color: var(--color1);
    -webkit-transition: 0.7s ease-out;
    -moz-transition: 0.7s ease-out;
    -o-transition: 0.7s ease-out;
    transition: 0.7s ease-out;
}

.hide{
    display: none;
}

.box_tech{
    margin: 0 auto;
    border: 3px solid var(--color1);
}

#title:hover{
    background-color: white;
    color: var(--color1);
}

