:root{
    --color1: rgb(41, 32, 32);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(235, 235, 235);
}

li{
    font-size: 18px;
}

h2{
    font-size: 20px;
}

input{
    width: 300px;
    height: 30px;
}

button{
    background-color: var(--color1);
    color: white
}

button:hover{
    background-color: whitesmoke;
    color: var(--color1)
}

label{
    font-size: 18px;
}

.menu_item:hover{
    background-color: var(--color1);
    -webkit-transition: 0.7s ease-out;
    -moz-transition: 0.7s ease-out;
    -o-transition: 0.7s ease-out;
    transition: 0.7s ease-out;
}

.hide{
    display: none;
}

.box_tech{
    margin: 0 auto;
    border: 3px solid var(--color1);
}

#title:hover{
    background-color: whitesmoke;
    color: var(--color1);
}

#dash{
    text-align: center;
    font-size: 25px;
    color:whitesmoke;
    width: 250px;
    margin: 0 auto;
}

#logout{
    cursor: pointer;
}

.link{
    color: whitesmoke
}